.favorites-list {
  margin: 5px 10px;
  margin-left: 0px;
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favorites-point {
  margin-bottom: 1px;
  display: flex;
  justify-content: flex-start;
  width: 90%;
  border: black solid 2px;
  align-items: stretch;
  height: 20%;
  min-width: 415px;
}

.favorites-btn-save {
  margin: 15px
}
.favorites-name-point {
  width: 85%;
}

.favorites-box-btn {
  display: flex;
  justify-content: center;
  border-left: 2px solid black;
  align-items: center;
}

.favorites-btn-delete {
  width: 100%;
  height: 40%;
  cursor: pointer;
  background-color: rgb(212, 142, 13);
  color: aliceblue;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  border: solid 1px white;
  padding: 5px;
}

.favorites-btn-delete:hover {
  transition-duration: 1s;
  background-color: rgb(212, 13, 13);
}

.favorites-box-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 5px;
  border-left: 2px solid black;
}

.favorites-text-point,
.favorites-number-point {
  margin: 3px;
  padding: 1px;
}

.favorites-number-point {
  font-size: 20px;
  font-weight: 600;
  height: 100%;
}

.favorites-quantity-exercises {
  font-size: 20px;
  font-weight: 600;
}

.favorites-no-quantity-exercises {
  font-size: 22px;
  font-weight: 600;
}
