.muscle-group-img {
  height: 200px;
  width: 200px;
}

.box-cards {
  min-width: 450px;
  max-width: 1920px;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
  margin: 30px 25px 30px;
  padding-top: 10px;
}
.main-box {
  width: 100%;
  display: flex;
  justify-content: center;
}
.title-muscle-group {
  color: white;
}

.card-muscle-group {
  background-color: rgb(41, 37, 37);
    padding: 10px;
  border: black 1px solid;
  border-radius: 15px;
  margin: 10px;
  text-decoration: none;
  color: black;
}
