.favorites-list {
  margin: 5px 10px;
  margin-left: 0px;
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.favorites-point {
  margin-bottom: 1px;
  display: flex;
  justify-content: flex-start;
  width: 90%;
  border: black solid 2px;
  align-items: stretch;
  height: 20%;
  min-width: 415px;
}

.favorites-btn-save {
  font-size: 15px;
  font-weight: 600;
  background-color: rgb(52, 133, 72);
  width: 150px;
  height: 50px;
  border: rgb(212, 13, 13);
  cursor: pointer;
  border-radius: 10px;
  border: solid 1px rgb(255, 255, 255);
  color: aliceblue;
  padding: 5px;
  margin: 5px;
  margin: 15px;
}
.favorites-input-name {
  text-align: center;
  width: 200px;
  height: 30px;
}
.favorites-btn-save:hover {
  transition-duration: 1s;
  background-color: rgb(3, 189, 50);
}
.favorites-btn-save:disabled {
  color: rgba(0, 0, 0, 0.281);
  background-color: rgba(212, 159, 13, 0.466);
  border: none;
}
.favorites-name-point {
  width: 85%;
}

.favorites-box-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: solid 2px black;
}

.favorites-btn-delete {
  width: 100%;
  height: 40%;
  cursor: pointer;
  background-color: rgb(212, 142, 13);
  color: aliceblue;
  font-size: 15px;
  font-weight: 600;
  border-radius: 10px;
  border: solid 1px white;
  padding: 5px;
}

.favorites-btn-delete:hover {
  transition-duration: 1s;
  background-color: rgb(212, 13, 13);
}

.favorites-box-number {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 5px;
  border-left: 2px solid black;
}

.favorites-text-point,
.favorites-number-point {
  margin: 3px;
  padding: 1px;
}

.favorites-number-point {
  font-size: 20px;
  font-weight: 600;
  height: 100%;
}

.favorites-quantity-exercises {
  font-size: 20px;
  font-weight: 600;
}

.favorites-no-quantity-exercises {
  font-size: 22px;
  font-weight: 600;
}

.favorites-link-workouts {
  margin-top: 15px;
}

.favorites-box-link-btn-save-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.favorites-link-workouts {
  margin: 20px 10px 20px 10px;
  border-radius: 15px;
  width: 80%;
  min-width: 300px;
  max-width: 350px;
  height: 40px;
  text-decoration: none;
  background-color: rgb(212, 132, 3);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.favorites-link-workouts:hover {
  font-size: 20px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}
