.list-exercises-li {
  border-radius: 10px;
  border: black solid 1px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 370px;
  max-width: 450px;
  min-height: 150px;
}

.list-exercises-li-name {
  font-weight: 600;
  font-size: 20px;
  margin: 10px 5px 5px;
}

.list-exercises-label {
  display: flex;
  margin-bottom: 5px;
  width: 80%;
  justify-content: center;
}

.list-exercises-label-text {
  margin: 2px;
  width: 70%;
}

.list-exercises-ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-left: 0px;
  list-style-type: none;
  padding-left: 0px;
}

.add-button {
  font-size: 15px;
  font-weight: 600;
  background-color: rgb(52, 133, 72);
  width: 100px;
  cursor: pointer;
  margin: 3px;
  border-radius: 5px;
  border: solid 1px rgb(255, 255, 255);
  color: aliceblue;
  padding: 5px;
}
.add-button:hover {
  background-color: rgb(3, 189, 50);
}

.add-button:disabled {
  color: rgba(0, 0, 0, 0.281);
  background-color: rgba(212, 159, 13, 0.466);
  border: none;
}

.group-muscles-title {
  padding: 3px;
  width: 80%;
  font-size: 30px;
  margin-bottom: 10px;
  margin-left: 25px;
}

.box-exercises {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-back-text {
  color: white;
  font-size: 20px;
  margin: 2px;
  padding: 2px;
  height: 22px;
  vertical-align: middle;
  font-weight: 600;
}

.list-exercises-input {
  width: 30%;
}

.btn-back {
  margin-left: 25px;
  border-radius: 15px;
  width: 400px;
  height: 40px;
  text-decoration: none;
  background-color: rgb(41, 37, 37);
}

.btn-back:hover .btn-back-text {
  font-size: 23px;
  font-weight: 600;
  color: rgb(255, 255, 255);
}

.btn-back:hover {
  height: 46px;
  background-color: rgb(212, 142, 13);
}
