.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.favorites-box {
  width: 35%;
  min-width: 426px;
  min-height: 500px;
  height: 100vh;
  border-bottom: none;
}

.box-exercises {
  border-left: 10px solid #282c34;
  border-right: 20px solid #282c34;
}

.main-page {
  display: flex;
}

.window-section {
  border-left: 10px solid #282c34;
  border-right: 20px solid #282c34;
  width: 65%;
}
