/* * {
  border: 6px solid red;
} */

.App {
  text-align: center;
  height: 100%;
}
body {
  height: 100%;
}
html {
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.favorites-box {
  background-color: white;
  padding-left: 5px;
  width: 30%;
  min-width: 426px;
  min-height: 500px;
  height: 100%;
  border-bottom: none;
  max-height: calc(100vh - 100px);
  overflow-x: hidden;
  overflow-y: auto;
}

.main-page {
  background-color: white;
  display: flex;
  border-right: 10px solid #282c34;
  border-left: 10px solid #282c34;
  min-height: 70vh;
}

.window-section {
  min-width: 350px;
  padding: 10px;
  border-right: 20px #282c34 ridge;
  background-color: white;
  width: 70%;
}

.footer-box {
  background-color: #282c34;
  min-height: 150px;
  display: flex;
  justify-content: center;
}

.contacts-h2 {
  padding-top: 5px;
  color: rgb(20, 20, 20);
  margin: 0;
}

.footer-link-instagram {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: rgb(0, 0, 255);
}
.footer-icon-instagram {
  height: 25px;
}
.footer-contact-box {
  min-width: 300px;
  max-width: 400px;
  background-color: rgb(255, 255, 255);
  width: 35%;
  height: 99%;
  min-height: 105px;
  margin: 10px;
  border-radius: 10px;
  padding: 3px;
}
